.plc-program-block-header-icon {
    color: #578;
    min-width: 25px;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 5px;
    font-size: 0.65em;
    text-align: center;
    font-weight: bold;
    user-select: none;
}

.plc-program-block-title {
    font-size: 1.05em;
    font-weight: bold;
    margin: 0px;
    margin-left: 5px;
}


.TODO::after {
    content: "TODO";
    color: rgb(255, 0, 0);
    background-color: rgb(255, 213, 0);
    font-weight: bold;
    font-size: 2em;
    width: 100%;
    height: 30px;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
}