
/* declare variables for icons */
:root {
    --plc-minimize-width: 10px;
    --plc-tree-indentation: 0px;
}


.plc-navigation-tree {
    display: flex;
    flex-direction: column;
    padding: 2px;
    width: calc(100% - 4px);
    min-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 12px;
    background: #333B;
    overflow: hidden;
}

.plc-navigation-tree-folder {
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.plc-navigation-tree-folder.minimized { display: none; }

/* .plc-navigation-children:empty::before {
    content: "empty";
    display: block;
    padding-left: 26px; 
    font-style: italic;
    color: #999;
} */

.plc-title {
    align-items: center;
    padding: 0px;
    width: 100%;
    cursor: pointer;
    user-select: none;
    font-size: 12px;
    color: #DDD;
}

.plc-navigation-item > :first-child > .plc-title {
    background: #6783;
}

.plc-navigation-item > :first-child:hover > .plc-title {
    background: #555;
}

.plc-navigation-item.selected > :first-child > .plc-title {
    color: rgb(159, 205, 255);
    background: #678A;
}

.plc-navigation-item.selected > :first-child:hover > .plc-title {
    background: #555;
}

.plc-navigation-tree-item  {
    align-items: left;
    padding: 0px;
    width: 100%;
    /* height: 20px; */
    cursor: pointer;
    user-select: none;
    background: #6789;
}

/** plc-navigation-item contains three elements, aligned to the left with 2px padding-left */
.plc-navigation-item > :first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 100%;
    cursor: pointer;
}

.plc-navigation-item > :first-child > div {
    height: 20px;
}

.plc-navigation-item {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0px;
    margin-top: 2px;
    width: 100%;
    cursor: pointer;
    user-select: none;
}

.plc-navigation-item > .plc-navigation-children {
    margin-left: var(--plc-tree-indentation);
}


.plc-navigation-item.minimized > .plc-navigation-children {
    display: none;
}

.plc-icon {
    display: flex;
    flex-direction: row;
}
.plc-icon::before {
    align-self: center;
    text-align: center;
    content: " ";
    justify-content: center;
    user-select: none;
    width: 20px;
    height: 20px;
    margin-right: 2px;
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center center;
}
.plc-icon::before img {
    display: inline-block;
    outline: none;
    padding: 2px;
}

.plc-navigation-item div {
    margin-left: var(--plc-minimize-width);
}
.plc-navigation-folder {
    width: 105% !important;
    margin-left: 0px !important;
}
.plc-navigation-folder .minimize {
    height: 20px;
}
.plc-navigation-folder .minimize::after {
    content: "-";
    display: inline-block;
    width: var(--plc-minimize-width);
    height: 20px;
}
.plc-navigation-item.minimized > .plc-navigation-folder .minimize::after { content: "+"; }
/* .plc-navigation-item:not(.minimized) > .plc-navigation-folder .minimize::after { content: "-"; } */

.plc-navigation-item:has(> .plc-navigation-children:empty) > .plc-navigation-folder .minimize::after { content: ""; }